<%- include("./partials/header") %>

<div class="container mt-5" style="font-family: 'Poppins', sans-serif;">
    <div class="card shadow-lg">
        <div class="card-body">
            <h3 class="text-center text-primary mb-4">Edit Your Todo</h3>
            <form action="/edit/todo/<%= todo._id %>" method="POST">
                <div class="form-group">
                    <input type="text" name="todo" class="form-control" value="<%= todo.todo %>" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Todo</button>
                <a href="/" class="btn btn-secondary btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
